ul,
.container,
.ex-re,
.expirience {
    display: flex;
    justify-content: space-between;
}

.reason {
    display: flex;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 2em;
}

.header,
.main,
.footer {
    background: #EDEBFC;
}

.kinolog {
    background: #7871DE;
}

.main {
    .container {
        border-radius: 100px;
        padding-bottom: 3%;
    }
}

.header {
    .container {
        align-items: center;
    }
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 1em;
    padding-bottom: 1em;
    font-style: normal;
    font-weight: 400;
    color: #09035D;



    .main__text {
        background: #FFFFFF;
        border-radius: 100px 0 0 0;
        display: flex;
        flex-direction: column;
        padding-top: 2.5%;
        padding-left: 7%;

        h1 {
            font-size: 3.5em;
            line-height: 1em;
            width: 70%;
            margin-bottom: 0;

            span {
                color: #7871DE;
            }
        }

        p {
            color: #7871DE;
            width: 70%;
            font-size: 1.5em;
        }

        a {
            background: #09035D;
            box-shadow: 4px 4px 20px rgba(9, 3, 93, 0.1);
            border-radius: 4px;
            color: #FFFFFF;
            width: 40%;
            text-align: center;
            padding: 2%;
            font-size: 1.4em;
        }
    }

    .nav {
        width: 75%;
    }

    .networks {
        width: 8em;

        ul {
            li {
                display: block;
                width: 20px;
                height: 20px;
                background-size: 100%;
            }

            .inst {
                background-image: url(../images/inst_violet.svg);

                &:hover {
                    background-image: url(../images/inst_color.svg);
                }
            }

            .fb {
                background-image: url(../images/fb_violet.svg);

                &:hover {
                    background-image: url(../images/fb_color.svg);
                }
            }

            .vk {
                background-image: url(../images/vk_violet.svg);

                &:hover {
                    background-image: url(../images/vk_color.svg);
                }
            }

            .tg {
                background-image: url(../images/tg_violet.svg);

                &:hover {
                    background-image: url(../images/tg_color.svg);
                }
            }



        }
    }

    .ex-re {
        width: 100%;
        flex-direction: column;
        padding-bottom: 5em;

        .expirience {
            justify-content: center;



            div {
                width: 15%;
                text-align: center;
                padding: 0.5em;

                p {
                    color: #0F0F10;
                }
            }
        }

        .reasons_for_training {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;



            .reason {
                align-items: center;
                background: #FFFFFF;
                box-shadow: -4px -4px 20px rgba(120, 113, 222, 0.1), 4px 4px 20px rgba(120, 113, 222, 0.1);
                border-radius: 4px;
                margin-right: 30px;
                margin-top: 20px;

                svg {
                    margin: 1em;
                }
            }
        }
    }

    .kinolog-better {
        color: #FFFFFF;

        h3 {
            color: #9FDB3D;
        }

        .reason {
            justify-content: center;

            div {
                width: 30%;
                margin-right: 2em;
            }
        }
    }
}










/* здесь ваши стили для десктопа (компьютер) */
@media (max-width: 1500px) {
    .container {
        max-width: 800px;
    }

    /* здесь ваши стили для ноутбука */
}

@media (max-width: 900px) {
    .container {
        max-width: 600px;
        padding-left: 20px;
        padding-right: 20px;
    }

    /* здесь ваши стили для планшета */
}

@media (max-width: 640px) {
    .container {
        max-width: 480px;
        padding-left: 16px;
        padding-right: 16px;
    }

    /* здесь ваши стили для смартфона */
}